<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='logo.webp') }}" type="image/webp">
    <title>Forgot Password</title>
</head>
<body>
    <div class="wrapper">
        <div class="login-box">
            <form method="POST">
                <h2>Forgot Password</h2>
                <div class="input-box">
                    <input type="email" name="email" required>
                    <label>Email</label>
                </div>
                <button type="submit">Send Reset Link</button>
            </form>
        </div>
    </div>
</body>
</html>
